<div class="project-star-component">
    {% if user.is_authenticated %}
        <form method="POST" action="{% url 'main:toggle_star' project.id %}">
            {% csrf_token %}
            <button type="submit" class="button button-star">
                {% if user in project.stars.all %}
                    ★ Starred ({{ project.total_stars }})
                {% else %}
                    ☆ Star ({{ project.total_stars }})
                {% endif %}
            </button>
        </form>
    {% else %}
        <a href="{% url 'main:login' %}" class="button button-star">
            ☆ Star ({{ project.total_stars }})
        </a>
    {% endif %}
</div>